ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00016e;
}

li {
    float: left;
}   

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
}

.active {
    background-color: #00016e(15, 105, 240);
}

li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00016e;
    padding: 0%;
    min-width: 160px;
}

li ul li {
    float: none;

}

li ul li a {

    padding: 12px 16px;
}

li ul li a:hover {
    background-color: #00016e(15, 105, 240);
}

li:hover ul {
    display: block;
}
 
li ul li ul{

    left: 100%;
    top: 0;
}




