div.gallery{

    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180px;
}
div.gallery:hover{
   border: 1px solid lightpink;

}
div.gallery img{
    width: 100%;
    height: auto;
}
div.decs{
    padding: 15px;
    text-align: center;
}

.sprite{
    background-image:url(images/merge.jpg) ;
 
}

.image1{
    width: 500px;
    height: 500px;
    background-position: -0px -0px;
    display: inline-block;
}

.image2{
    width: 500px;
    height: 500px;
    background-position: -500px -0px;
    display: inline-block;
}
